server:
  port: 8001
  shutdown: graceful
  tomcat:
    connection-timeout: 2s
    keep-alive-timeout: 15s
    threads:
      max: 50
      min-spare: 5

spring:
  application:
    name: towerdata
  datasource:
    username: postgres
    password: root
    url: jdbc:postgresql://localhost:5432/kertaskerja_towerdata
    hikari:
      connection-timeout: 2000
      maximum-pool-size: 5

flyway:
  enabled: true
  locations: classpath:db/migration
  baseline-on-migrate: true

kertaskerja:
  status: Tower Data UP!

logging:
  level:
    org.springframework.jdbc: DEBUG
    org.springframework.data.jdbc: DEBUG
    cc.kertaskerja.tppkepegawaian.config: DEBUG
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: mappings, health, info

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    try-it-out-enabled: true
    operations-sorter: method
    tags-sorter: alpha
    doc-expansion: none
    disable-swagger-default-url: true
    display-request-duration: true
    default-models-expand-depth: 1
    default-model-expand-depth: 1
  show-actuator: true
